---
import { getCollection } from "astro:content";

const lines = await getCollection("lines");
---

{
  lines.map((line) => (
    <a
      href={`/lines/${line.id}`}
      class="text-xl text-white inline-block px-1.5 py-0 leading-6 font-medium"
      style={{ background: line.data.color }}
    >
      {line.data.name}
    </a>
  ))
}
