---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <title>Berlin U-Bahn</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <main class="max-w-7xl m-auto">
      <header class="text-center my-4">
        <h1 class="text-gray-900 text-4xl font-serif">
          <a href="/">Berlin U-Bahn</a>
        </h1>
      </header>
      <article>
        <slot />
      </article>
    </main>
  </body>
</html>
